
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td{margin: 0;padding: 0;}
table{border-collapse: collapse;border-spacing: 0;}
fieldset,img{border: 0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
ol,ul{list-style: none;}
caption,th{text-align: left;}
h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}
q:before,q:after{content:;}
abbr,acronym{border: 0;}
body{font: 12px/1.5 '微软雅黑',tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{zoom:1;}
.text-ellipsis{white-space: nowrap;/* 设置不折行 */text-overflow；ellipsis;/* 这就是省略号喽 */-o-text-overflow:ellipsis;/* 兼容opera */overflow: hidden;}

/*lightBox*/
#G-lightbox-mask{ position:  fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: #000;opacity: 0.5;z-index: 2;}
#G-lightbox-popup{ position: fixed;width: 300px;height: 300px; }