body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; background-blend-mode: multiply,multiply;
}

.clearfix:before, .clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.slider {
    overflow: hidden;
    position: absolute;
    left: 50%;
    width: 800px;
    height: 160px;
    margin: 0 auto;
    margin-top: 200px;
    margin-left: -400px;
}

.s-container {
    width: 2080px;
}

.slider .item {
    float: left;
    display: inline-block;
    width: 140px;
    height: 160px;
    margin: 10px;
    cursor: pointer;
}

.slider .item img {
    width: 140px;
    height: 120px;
}

.slider .item .info {
    width: 140px;
    height: 20px;
    color: skyblue;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.slider .item:hover .info {
    text-decoration: underline;
}

.slider .item:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in-out;
}

/*move*/

.s-container {
    /*transform: translateX(-150px);*/
    /*transition: all ease-in-out;*/
    /*-webkit-animation: move  timing-function delay iteration-count direction fill-mode;*/
    /*-o-animation: move  timing-function delay iteration-count direction fill-mode;*/
    /*animation: move  timing-function delay iteration-count direction fill-mode;*/
}